@font-face {
  font-family: 'Coves';
  src: url('../fonts/Coves-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Coves';
  src: url('../fonts/Coves-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Coves', sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0;
}
h2 {
  font-size: 1.5em;
  margin: 0;
}
h3 {
  font-size: 1.17em;
  margin: 0;
}
p {
  font-size: 1.125rem;
  margin: 0;
}
a {
  color: #222222;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
}
#modal .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.1s;
}
#modal .card {
  min-width: 20vw;
  position: relative;
}
#modal .card > div {
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
}
#modal .modal-close-btn {
  outline: 0;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url('../icons/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-1em) translateY(1em);
  transition: transform 0.2s;
}
#modal .modal-close-btn:hover {
  transform: translateX(-1em) translateY(1em) rotate(15deg);
}
#modal .modal-close-btn:focus {
  transform: translateX(-1em) translateY(1em) rotate(-180deg);
}
.datenschutz-content h1, .datenschutz-content h2, .datenschutz-content h3 {
  margin-top: 1em;
}
.datenschutz-content .legal-source {
  margin-top: 2em;
  font-weight: bold;
}

.btn {
  display: inline-block;
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  background-color: #222222;
  padding: 0.5em 1em;
  border-radius: 0.7em;
  user-select: none;
}
a.btn {
  position: relative;
  transition: padding 0.3s;
}
a.btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(-25%);
  background-image: url('../icons/icon-arrow-right.svg');
  width: 30px;
  height: 30px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s;
}
a.btn:hover {
  padding-right: calc(40px);
  text-decoration: none;
}
a.btn:hover::after {
  opacity: 1;
}

section {
  padding: 1em;
}
section > h1 {
  margin-bottom: 1em;
  text-align: center;
}
section#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  min-height: 400px;
  padding-top: 5em;
}
section#landing > h1 {
  font-size: 1.4em;
  letter-spacing: 10px;
  margin: 2em 0 1em 10px;
  text-transform: uppercase;
}
section#landing > h2 {
  font-size: 1.1em;
  letter-spacing: 5px;
  margin-left: 5px;
}
section#landing > img {
  width: 200px;
  user-select: none;
}

section#companies {
  padding: 5em 1em;
}
.company-cards {
  display: grid;
  justify-items: center;
  gap: 2em;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}
.card {
  border-radius: 1em;
  border: 5px solid #F1F1F1;
  background-color: #fff;
  padding: 3em 1em;
}
.company-cards .card {
  width: 300px;
  height: 100%;
  text-align: center;
  transition: transform 0.3s ease-out;
}
.company-cards .card:hover {
  transform: scale(1.05);
}
.company-cards .card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  user-select: none;
}
.company-cards .card h2 {
  margin-top: 0.5em;
}
.company-cards .card a.btn {
  margin-top: 1em;
}

section#skills {
  background-color: #F1F1F1;
  padding: 5em 1em;
}
.skill-marquee-container {
  overflow: hidden;
  user-select: none;
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  /* filter: saturate(0);
  transition: filter 0.3s; */
}
/* .skill-marquee-container:hover {
  filter: saturate(100%);
} */
.skill-marquee-container::before, .skill-marquee-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  z-index: 3;
  pointer-events: none;
}
.skill-marquee-container::before {
  background: linear-gradient(90deg, #F1F1F1, rgba(0, 0, 0, 0));
  left: 0;
}
.skill-marquee-container::after {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #F1F1F1);
  right: 0;
}
ul.skill-marquee {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  animation: marquee 40s linear infinite;
}
.skill-marquee-container:hover ul.skill-marquee {
  animation-play-state: paused;
}
ul.skill-marquee li {
  display: block;
}
ul.skill-marquee li img {
  width: 100px;
  height: 100px;
  margin: 10px 20px;
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

section#contact {
  padding: 5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-list li {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.contact-list li img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 2em;
  user-select: none;
}
.contact-list li p {
  font-size: 1.3em;
  font-weight: bold;
}

footer {
  background-color: #F1F1F1;
  padding: 5em 1em;
}
footer .footer-container {
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
}
footer p {
  font-size: 1.17em;
  font-weight: bold;
}
.footer-legal {
  margin: 0 0 2em 0;
  padding: 0;
  list-style: none;
  font-size: 1.17em;
  font-weight: bold;
}
.footer-legal li {
  display: inline-block;
  cursor: pointer;
}
.footer-legal li:hover {
  text-decoration: underline;
}
.footer-legal li:not(:last-child) {
  padding-right: 1em;
  margin-right: 1em;
  border-right: 2px solid #BFBFBF;
}
